.challenges {
  display: flex;
  justify-content: space-between;
  width: 90%;
  overflow-x: auto;
  overflow-y: hidden;
  box-sizing: content-box;
  height: 290px;
  scroll-behavior: smooth;
}

.challenges::-webkit-scrollbar {
  background: transparent;
}

.left {
  position: absolute;
  top:20%;
  border:none;
}

.right {
  position: absolute;
  right: 12%;
  top:20%;
  border:none;
}

.left:hover {
  background-color: whitesmoke ;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.right:hover{
  background-color: whitesmoke;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.bounce-r {
  animation-name: bounce-r;
  animation-timing-function: ease;
}

.bounce-l {
  animation-name: bounce-l;
  animation-timing-function: ease;
}

@keyframes bounce-r {
  0%   { transform: scale(1,1)}
  10%  { transform: scale(1.1,.9)}
  30%  { transform: scale(.9,1.1)}
  50%  { transform: scale(1,1)}
  100% { transform: scale(1,1)}
}

@keyframes bounce-l {
  0%   { transform: scale(1,1)}
  10%  { transform: scale(.9,1.1)}
  30%  { transform: scale(1.1,.9)}
  50%  { transform: scale(1,1)}
  100% { transform: scale(1,1)}
}