@font-face {
    font-family: "roboto-regular";
    src: url("../Assets/Fonts/Roboto/Roboto-Regular.ttf");
  }
  
  @font-face {
    font-family: "roboto-demi";
    src: url("../Assets/Fonts/Roboto/Roboto-Medium.ttf");
  }
  
  @font-face {
    font-family: "roboto-bold";
    src: url("../Assets/Fonts/Roboto/Roboto-Bold.ttf");
  }