* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "roboto-regular";
  src: url("../Assets/Fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "roboto-demi";
  src: url("../Assets/Fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../Assets/Fonts/Roboto/Roboto-Bold.ttf");
}

/* media query for mobile 320*/
/* media query for tablet*/
/* media query for high pixel density desktops*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.header__left {
  width: 5.3125rem;
  height: 5rem;
  background-color: #c4c4c4;
  border-radius: 1.5rem;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right-link {
  margin-left: 3.875rem;
  color: #325075;
  text-decoration: none;
  font-family: "roboto-regular";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.card {
  width: 20rem;
  height: 17rem;
  background-color: #d6efff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 1.3rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card__title {
  font-family: "roboto-regular";
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  color: #009ffd;
  margin: 118px 0 20px;
}

.card__image {
  width: 320px;
  height: 170px;
  left: 520px;
  top: 670px;
  border-radius: 20px 20px 0px 0px;
}

.card__bottom {
  font-family: "roboto-regular";
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  padding-left: 1.25rem;
}

.card__bottom-title {
  margin: .75rem 0 0.625rem;
}

.card__bottom-ending {
  color: #009ffd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__bottom-progress {
  margin-top: 15px;
  height: 3px;
  border-radius: 20px;
  background-color: green;
}

.suggested {
  width: 400px;
  height: 19.3125rem;
  font-family: "roboto-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.suggested__title {
  font-family: "roboto-regular";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  margin: 110px 0 18px 6px;
  color: #009ffd;
}

.suggested__category {
  color: #2af6b9;
  position: relative;
  display: inline-block;
}

.suggested__category-text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 1rem;
  right: 0;
  top: 10%;
}

.suggested__image {
  margin-bottom: 14px;
}

.suggested__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 8px;
}

.suggested__bottom-title {
  font-weight: bold;
}

.suggested__bottom-ending {
  color: #009ffd;
  font-weight: bold;
  margin-bottom: 21px;
}

.suggested__bottom-button {
  background: #dbeffe;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100px;
  height: 50px;
  border: none;
  font-family: "roboto-regular";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #325075;
}

.suggested__people-avatar {
  height: 30px;
  padding-left: 6px;
}

.cat__title {
  font-family: "roboto-regular";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #009ffd;
  padding-bottom: 26px;
  margin-top: 107px;
}

.challenges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 290px;
  scroll-behavior: smooth;
}

.challenges::-webkit-scrollbar {
  background: transparent;
}

.left {
  position: absolute;
  top: 20%;
  border: none;
}

.right {
  position: absolute;
  right: 12%;
  top: 20%;
  border: none;
}

.left:hover {
  background-color: whitesmoke;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.right:hover {
  background-color: whitesmoke;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bounce-r {
  -webkit-animation-name: bounce-r;
          animation-name: bounce-r;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.bounce-l {
  -webkit-animation-name: bounce-l;
          animation-name: bounce-l;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes bounce-r {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes bounce-r {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes bounce-l {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  10% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  30% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes bounce-l {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  10% {
    -webkit-transform: scale(0.9, 1.1);
            transform: scale(0.9, 1.1);
  }
  30% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

body {
  padding: 0 6.25rem;
  background-color: #ffffff;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

h3.suggested__title.cat__title {
  left: -30px;
}
/*# sourceMappingURL=main.css.map */