* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./partials/colors";
@import "./partials/fonts";
@import "./partials/breakpoints";
@import "./partials/header";
@import "./partials/cards";
@import "./partials/suggested";
@import "./partials/categories";
@import "./partials/challenges";
body {
  padding: 0 6.25rem;
  background-color: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

h3.suggested__title.cat__title {
  left: -30px;
}