* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "roboto-regular";
  src: url("../Assets/Fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "roboto-demi";
  src: url("../Assets/Fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../Assets/Fonts/Roboto/Roboto-Bold.ttf");
}

/* media query for mobile 320*/
/* media query for tablet*/
/* media query for high pixel density desktops*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  width: 5.3125rem;
  height: 5rem;
  background-color: #c4c4c4;
  border-radius: 1.5rem;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right-link {
  margin-left: 3.875rem;
  color: #325075;
  text-decoration: none;
  font-family: "roboto-regular";
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.card {
  width: 24rem;
  height: 20.7rem;
  background-color: #d6efff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 12px;
  border-radius: 1.3rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card__title {
  font-family: "roboto-regular";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #009ffd;
  margin: 118px 0 20px;
}

.card__image {
  width: 384px;
  height: 210px;
  left: 520px;
  top: 670px;
  border-radius: 20px 20px 0px 0px;
}

.card__bottom {
  font-family: "roboto-regular";
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  padding-left: 1.25rem;
}

.card__bottom-title {
  margin: 1.25rem 0 0.625rem;
}

.card__bottom-ending {
  color: #009ffd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__bottom-progress {
  margin-top: 5px;
  height: 3px;
  border-radius: 20px;
  background-color: green;
}

.suggested {
  width: 400px;
  height: 19.3125rem;
  font-family: "roboto-regular";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.suggested__title {
  font-family: "roboto-regular";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  margin: 110px 0 18px 6px;
  color: #009ffd;
}

.suggested__category {
  color: #2af6b9;
  position: relative;
  display: inline-block;
}

.suggested__category-text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 1rem;
  right: 0;
  top: 10%;
}

.suggested__image {
  margin-bottom: 14px;
}

.suggested__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 8px;
}

.suggested__bottom-title {
  font-weight: bold;
}

.suggested__bottom-ending {
  color: #009ffd;
  font-weight: bold;
  margin-bottom: 21px;
}

.suggested__bottom-button {
  background: #dbeffe;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100px;
  height: 50px;
  border: none;
  font-family: "roboto-regular";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #325075;
}

.suggested__people-avatar {
  height: 30px;
  padding-left: 6px;
}

.cat__title {
  font-family: "roboto-regular";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #009ffd;
  padding-bottom: 26px;
  margin-top: 107px;
}

.challenges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  overflow-x: auto;
}

body {
  padding: 0 6.25rem;
  background-color: #ffffff;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */